.gradle/6.8.1/executionHistory/executionHistory.bin
.gradle/6.8.1/executionHistory/executionHistory.lock
.gradle/6.8.1/fileHashes/fileHashes.bin
.gradle/6.8.1/fileHashes/fileHashes.lock
.gradle/6.8.1/javaCompile/classAnalysis.bin
.gradle/6.8.1/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
app/build/intermediates/dex/debug/mergeDexDebug/classes.dex
app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
app/build/intermediates/javac/debug/classes/packt/reactivestocks/MainActivity$1.class
app/build/intermediates/javac/debug/classes/packt/reactivestocks/MainActivity$2.class
app/build/intermediates/javac/debug/classes/packt/reactivestocks/MainActivity$3.class
app/build/intermediates/javac/debug/classes/packt/reactivestocks/MainActivity$4.class
app/build/intermediates/javac/debug/classes/packt/reactivestocks/MainActivity$5.class
app/build/intermediates/javac/debug/classes/packt/reactivestocks/MainActivity$6.class
app/build/intermediates/javac/debug/classes/packt/reactivestocks/MainActivity.class
app/build/intermediates/project_dex_archive/debug/out/packt/reactivestocks/MainActivity$1.dex
app/build/intermediates/project_dex_archive/debug/out/packt/reactivestocks/MainActivity$2.dex
app/build/intermediates/project_dex_archive/debug/out/packt/reactivestocks/MainActivity$3.dex
app/build/intermediates/project_dex_archive/debug/out/packt/reactivestocks/MainActivity$4.dex
app/build/intermediates/project_dex_archive/debug/out/packt/reactivestocks/MainActivity$5.dex
app/build/intermediates/project_dex_archive/debug/out/packt/reactivestocks/MainActivity$6.dex
app/build/intermediates/project_dex_archive/debug/out/packt/reactivestocks/MainActivity.dex
app/build/outputs/apk/debug/app-debug.apk
app/build/*
.gradle/*

